* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #292C2E;
}
.container {
    margin: 0 auto;
    padding: 0 3.75rem;
    max-width: 1540px;
}
section {
    margin-bottom: 13.75rem;
}



/* Text styles */
h1 {
    font-weight: 700;
    font-size: 2.666em;
    line-height: 1.46;
}
h2 {
    margin: 0;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.445;
}
h3 {
    margin: 0;
    font-weight: 700;
    font-size: 1.35em;
}
.subtitle {
    margin-bottom: 1.25;
    font-size: 1.35em;
}
.subtitle:last-child {
    margin-bottom: 0;
}
p {
    margin: 0 0 0.75rem 0;
}
p:last-child {
    margin-bottom: 0;
}
.small-text {
    font-size: 0.8em;
}
.bold {
    font-weight: 700;
}



/* Color styles */
.gray-text {
    color: #99A5AF;
}
.blue-icon {
    background-color: #BFCCF4;
}



/* Tabs */
.naw__tabs {
    margin: 0 0.313rem 1.5rem 0.313rem;
    position: relative;
}
.border-bottom {
    width: 100%;
    height: 2px;
    background-color: #E0E0E0;
    position: absolute;
    bottom: 0;
}
.tabs {
    display: flex;
}
.tabs__item {
    padding: 0 0 1.875rem 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.grid-item.hide {
    display: none;
}
.grid-item.show {
    display: block;
}
.tabs__item.gray-text.active {
        color: #292C2E;
        border-bottom: 2px solid #071A52;
        z-index: 6;
}
.tabs__item:hover {
    color: #292C2E;
    border-bottom: 2px solid #071A52;
    z-index: 6;
}



/* Header */
header {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 13.75rem;
}
.header__container {
    padding: 2.813rem 3.75rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
}

header a {
    color: white;
}
header nav a {
    margin-right: 2.5rem;
}
header nav a:last-child {
    margin-right: 0;
}

nav a.header__nav-link,
.header__logo,
.contacts__social {
    text-decoration: none;
}
.header__logo .flag {
    display: inline-block;
    width: 52px;
    height: 34px;
    margin-right: 1.25rem;
    background: linear-gradient(180deg, #005EB8 50%, #FFD100 50%);
}
.header__logo svg {
    width: 135px;
    height: 32px;
}

header a.header-link {
    min-width: 310px;
    text-align: right;
    font-weight: 700;
}
header a.header-link:hover {
    text-decoration: none;
}

h1 {
    visibility: hidden;
}

header .bg-video,
.header__gradient {
    width: 98%;
    height: 96%;
    object-fit: cover;
    position: absolute;
    top: 2%;
    left: 1%;
    z-index: -2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 14.53%);
}



/* About section */
.about__main {
    display: flex;
    column-gap: 5rem;
    align-items: center;
    margin-bottom: 8.75rem;
}
.about__main svg.icon,
.about__content {
    flex-basis: 50%;
}
.about__main svg.icon {
    width: 340.95px;
    height: 340.51px;
    animation: spin 16s infinite linear;
}
@keyframes spin {
    100% {
      transform: rotate(360deg);
    }
}
.about__content h2 {
    margin-bottom: 1.875rem;
}

.about__reasons {
    display: flex;
    column-gap: 5rem;
}
.reasons-item__icon {
    margin-bottom: 1.25rem;
    width: 42px;
    height: 30px;
}
.reasons-item__icon_line {
    display: block;
    width: 30px;
    height: 4px;
}
.reasons-item__icon_line_second {
    margin: 4px 0 0 12px;
}
.reasons-item__icon_line_third {
    margin: 4px 0 0 4px;
}
.reasons-item__icon_cost .reasons-item__icon_line_first {
    margin: 0 0 0 6px;
}
.reasons-item__icon_cost .reasons-item__icon_line_second,
.reasons-item__icon_cost .reasons-item__icon_line_third {
    margin-left: 0;
}
.reasons-item__icon_copa .reasons-item__icon_line {
    display: inline-block;
    width: 4px;
    height: 30px;
}
.reasons-item__icon_copa .reasons-item__icon_line_second,
.reasons-item__icon_copa .reasons-item__icon_line_third {
    margin: 0 0 0 5px;
}
.item__name {
    margin-bottom: 0.625rem;
    color: #071A52;
}



/* Portfolio section */
.portfolio {
    margin: 0 1.25rem 13.75rem 1.25rem;
}

.portfolio .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.portfolio .grid-col {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    flex: 1;
    width: 33,333%;
}
.portfolio .grid-item {
    margin: 0 0.313rem 0.313rem;
    position: relative;
}
.portfolio .grid-item a {
    text-decoration: none;
}
.portfolio .grid-item h3 {
    position: absolute;
    bottom: 1.875rem;
    left: 1.875rem;
    z-index: 9;
    font-size: 1em;
    line-height: 1.5;
    color: #fff;

    opacity: 0;
    transform: translateY(.5em);
    transition: all 0.5s;
    will-change: opacity, transform;
}
.portfolio .grid-item:hover h3 {
    opacity: 1;
    transform: translateY(0);
}
.portfolio .grid-item img {
    width: 100%;
    height: 100%;
}



/* Work section */
.work {
    margin-bottom: 10rem;
}
.work__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5rem;
}
.work__main h2,
.work__main .work__right-col {
    flex-basis: 47%;
}

.workflow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.workflow__item {
    max-width: 49%;
    margin-bottom: 3.75rem;
}
.workflow__item img,
.workflow__video {
    width: 100%;
    height: 24vw;
    object-fit: cover;
    margin-bottom: 1.875rem;
}
.workflow__item h3,
.workflow__item p {
    margin: 0 3.125rem;
}
.workflow__item h3 {
    margin-bottom: .625rem;
}



/* Parallax background */
.parallax-bg {
    width: 100%;
    height: 600px;
    margin-bottom: 13.75rem;

    background-image: url("../assets/parallax-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* FAQ section */
.faq h2 {
    margin-bottom: 1.25rem;
}

.faq__questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.faq__wrap {
    flex-basis: 47%;
}
.questions__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
    border-bottom: 1px solid #E0E0E0;
    cursor: pointer;
    /* background: url(../assets/plus.svg); */
}
.questions__item h3 {
    font-size: 1em;
}
.answer {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    border-bottom: 1px solid #E0E0E0;
}
.questions__item.active .questions__head {
    border-bottom: none;
}
.questions__item.active .answer {
    padding: 2.5rem 0;
    max-height: 100%;
}
.questions__item.active .answer ul,
.questions__item.active .answer ol {
    padding: 0 0 1.875rem 2.5rem;
}



/* Contacts section */
.contacts .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.contacts form {
    max-width: 562px;
}
.contacts_connect a,
footer a {
    color: #071A52;
    transition: all 0.5s;
}
.contacts_connect a:hover,
footer a:hover {
    text-decoration: none;
    color: #123AAD;
}
.contacts_phone {
    display: block;
    margin: 3.125rem 0 .625rem 0;
    text-decoration: none;
}
.contacts__messangers {
    margin: .625rem 0 2.5rem 0;
}
.contacts__social .icon {
    margin: 2.5rem .938rem 0 0;
    width: 32px;
    height: 32px;
}

.contacts__form {
    padding: 3.125rem;
    border: 4px solid #DDE4FB;
}
.contacts__form input {
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    border: none;
}
.contacts__form input.field {
    box-sizing: border-box;
    width: 100%;
    padding: 1.313rem 1.875rem;
    margin-bottom: 1.25rem;
    background: #F0F5FC;
}
.contacts__form input.field::placeholder {
    color: #99A5AF;
}
.contacts__btn-agreeing {
    display: flex;
    align-items: center;
}
.contacts__form input[type="submit"] {
    padding: 1.313rem 2.875rem;
    margin-right: 2.5rem;
    background: #071A52;
    font-weight: 700;
    color: white;
}



/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2.5rem;
    margin: 0 1.25rem 1.25rem 1.25rem;
    background: #F0F5FC;
}
footer a {
    color: #071A52;
}
footer a:hover {
    text-decoration: none;
}
.footer__left-col {
    display: flex;
    align-items: center;
}
.footer__left-col span {
    margin-left: 7.5rem;
}
.footer__right-col nav,
.footer__dev-copy {
    display: inline-block;
}
.footer__right-col nav {
    margin-right: 7.5rem;
}
.footer__right-col nav a {
    margin-right: 2.5rem;
}
.footer__right-col nav a:last-child {
    margin-right: 0;
}



/* Tablets landscape up to 1200px */
@media (max-width: 1200px) {
    /* Text styles */
    h3 {
        font-size: 1.111em;
    }

    /* Header */
    header a.header-link {
        min-width: 190px;
    }

    /* Work section */
    .workflow__item {
        max-width: 48%;
    }
    .workflow__item img,
    .workflow__video {
        margin-bottom: 1rem;
    }
    .workflow__item h3,
    .workflow__item p {
        margin: 0;
    }
    .workflow__item h3 {
        margin-bottom: .625rem;
    }

    /* Contacts section */
    .contacts form {
        max-width: 320px;
    }
    .contacts__btn-agreeing {
        display: inline-block;
    }
    .contacts__form input[type="submit"] {
        margin-bottom: 1.25rem;
    }

    /* Footer */
    .footer__left-col span {
        margin-left: 2.5rem;
    }
    .footer__right-col nav {
        margin-right: 2.5rem;
    }
    .footer__right-col nav a {
        margin-right: 1rem;
    }
    .footer__right-col nav a:last-child {
        margin-right: 0;
    }
}

/* Tablets portrait up to 930px */
@media (max-width: 930px) {
    .container {
        padding: 0 2.5rem;
    }
    section {
        margin-bottom: 10rem;
    }

    /* Text styles */
    h3 {
        font-size: 1em;
    }
    p {
        font-size: .888em;
    }

    /* Header */
    header {
        margin-bottom: 10rem;
    }
    .header__container {
        padding: 1.875rem 2.5rem 0;
    }

    header nav {
        display: none;
    }
    header a.header-link {
        min-width: auto;
    }

    header .bg-video,
    .header__gradient {
        width: 98%;
        height: 97%;
        top: 1.5%;
        left: 1%;
    }

    /* About section */
    .about__main {
        margin-bottom: 5rem;
    }
    .about__main svg.icon{
        display: none;
    }
    .about__content {
        flex-basis: 100%;
    }

    .about__reasons {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .about__reasons .item {
        flex-basis: 42%;
    }
    .about__reasons .item:nth-child(1) {
        margin-bottom: 5rem;
    }

    /* Portfolio section */
    .portfolio {
        margin-bottom: 10rem;
    }
    .portfolio .grid-col--2 {
        display: none;
    }

    /* Work section */
    .work {
        margin-bottom: 6.25rem;
    }
    .work__main h2,
    .work__main .work__right-col {
        flex-basis: 100%;
    }
    .work__main h2 {
        margin-bottom: 1.875rem;
    }
    .workflow__item h3 {
        margin-bottom: .625rem;
    }

    /* Parallax background */
    .parallax-bg {
        margin-bottom: 10rem;
    }

    /* Contacts section */
    .contacts_connect {
        margin-bottom: 3.125rem;
    }
    .contacts_connect p {
        font-size: 18px;
    }

    /* Footer */
    .footer__left-col {
        display: block;
    }
    .footer__left-col span {
        display: block;
        margin-top: 0.625rem;
        margin-left: 0;
    }
    .footer__right-col nav a {
        display: block;
        margin-top: 0.625rem;
        margin-right: 0;
    }
    .footer__dev-copy a {
        display: block;
    }
}

/* Phone up to 600px */
@media (max-width: 600px) {
    .container {
        padding: 0 1.25rem;
    }
    section {
        margin-bottom: 6rem;
    }

    /* Text styles */
    h2 {
        font-size: 1.8em;
    }
    .subtitle {
        font-size: 1.2em;
    }

    /* Header */
    header {
        margin-bottom: 6rem;
    }
    .header__container {
        padding: 1.25rem 1.25rem 0;
        align-items: stretch;
    }

    .header__logo .flag {
        width: 36px;
        height: 26px;
        margin-right: 0.625rem;
    }
    .header__logo svg {
        width: 100px;
        height: 26px;
    }

    header .bg-video,
    .header__gradient {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    /* About section */
    .about__main {
        margin-bottom: 3.75rem;
    }
    .about__content h2 {
        margin-bottom: 1.5rem;
    }

    .about__reasons .item:nth-child(1) {
        margin-bottom: 3.75rem;
    }
    .about__reasons .item {
        flex-basis: 100%;
        margin-bottom: 3.75rem;
    }
    .about__reasons .item:last-child {
        margin-bottom: 0;
    }

    /* Portfolio section */
    .portfolio {
        margin-bottom: 6rem;
    }
    .portfolio .tabs {
        display: none;
    }

    /* Work section */
    .work {
        margin-bottom: 2.5rem;
    }
    .workflow__item {
        min-width: 100%;
    }
    .workflow__item img,
    .workflow__video {
        height: auto;
    }

    /* Parallax background */
    .parallax-bg {
        margin-bottom: 6rem;
        height: 300px;
    }

    /* Contacts section */
    .contacts_connect {
        margin-bottom: 3.125rem;
    }
    .contacts_phone {
        margin: 1.875rem 0 .625rem 0;
    }
    .contacts__messangers {
        margin: 0.625rem 0 1.875rem 0;
    }
    .contacts__social .icon {
        margin: 1.125rem .938rem 0 0;
    }
    .contacts form {
        padding: 1.875rem;
        max-width: 100%;
    }
    .contacts__btn-agreeing {
        display: inline-block;
    }
    .contacts__form input[type="submit"] {
        margin-bottom: 1.25rem;
    }

    /* Footer */
    footer {
        display: block;
    }
    .footer__right-col nav a {
        display: inline-block;
        margin-top: 1.5rem;
        margin-right: 1.25rem;
    }
    .footer__dev-copy {
        display: block;
        margin-top: 1.5rem;
    }
    .footer__dev-copy a {
        display: inline;
    }
}

/* Phone up to 370px */
@media (max-width: 370px) {
    /* Text styles */
    h2 {
        font-size: 1.5em;
    }
    .subtitle {
        font-size: 1.15em;
    }

    /* Header */
    .header__logo .flag {
        display: none;
    }
    .header__logo svg {
        width: 100px;
        height: 26px;
    }

    /* Portfolio section */
    .portfolio .grid-col--3 {
        display: none;
    }

    /* Contacts section */
    .contacts form {
        padding: 1.25rem;
    }
    .contacts__form input.field {
        margin-bottom: 1rem;
    }
    .contacts__form input[type="submit"] {
        width: 100%;
        margin-bottom: 1rem;
    }
}
.minus {
    display: none;
}

.plus {
    display: none;
}

.faq_active {
    display: block;
}

.hide_tab{
    display: none;
}


